@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --primary-color: #ea580c;
  --primary-color-accent: #fb923c;
  --grey: #525252;
  --off-white: #e5e5e5;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

/* container */
.container {
  padding: 0 1rem;
}

.container-center {
  max-width: 600px;
  margin: auto;
}

/* links */

.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.link-primary {
  background-color: var(--primary-color);
  color: white;
}

.link-secondary {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.link-active {
  font-weight: bold;
}

hr {
  margin: 2rem 0rem;
}

/* lists */
.list-non-bullet {
  list-style: none;
}
.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

/* navigation */

.navigation {
  background-color: var(--primary-color);
  color: white;
  border-radius: 0 0 1rem 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.nav-pills {
  display: flex;
}
.nav-brand {
  font-weight: bold;
  font-size: 1.4rem;
  font-variant: small-caps;
}
.navigation a {
  color: white;
}

.navigation a:hover {
  background-color: var(--primary-color-accent);
  font-weight: 700;
}

/* header */

.hero {
  padding: 2rem;
}

.hero-img {
  max-width: 400px;
  margin: auto;
  display: block;
}

.hero h1 {
  text-align: center;
  color: var(--grey);
}

/* section */
section {
  padding: 2rem;
}

section h1 {
  text-align: center;
}

.off-white {
  background-color: var(--off-white);
}

/* footer */
footer {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem 0.5rem;
  text-align: center;
  border-radius: 1rem 1rem 0 0;
}
footer a {
  color: white;
}
footer a:hover {
  background-color: var(--primary-color-accent);
  font-weight: 700;
}

footer ul {
  padding-inline-start: 0;
}
